[viewBag]

==
<footer>
    <div class="container">
        <div class="col-sm-4">

        </div>

        <div class="col-sm-4">
            <div class="footer-menu">
                <h4>MENU UTAMA</h4>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="footer-menu">
                <h4>HUBUNGI KAMI</h4>

            </div>

            <div class="footer-menu">
                <ul class="pd-l-0">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>

                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>

                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </ul>
                <p>COPYRIGHT &copy; AYONGECAT 2019</p>
            </div>
        </div>
    </div>
</footer>
