[staticMenu mainMenu]
code = "main-menu"
==
<footer>
    <div class="container">
        <div class="col-sm-4 hidden-xs">
            <div class="footer-logo">
                <a href="{{ 'home'|page }}">
                    <img src="{{ 'assets/images/logo-primary.png'|theme }}" alt="" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="col-sm-4 mg-b-40">
            <div class="footer-menu">
                <h4>MENU UTAMA</h4>
                <ul class="nav">
                    {% for item in mainMenu.menuItems %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-sm-4 mg-b-40">
            <div class="footer-menu">
                <h4>HUBUNGI KAMI</h4>
                <ul class="pd-l-0">
                    <a href="{{ settings.general.social_facebook }}" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="{{ settings.general.social_twitter }}" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="{{ settings.general.social_instagram }}" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="tel:{{ settings.general.contact_phone }}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="mailto:{{ settings.general.contact_email }}">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </ul>
                <p>COPYRIGHT &copy; KOMUNITAS AYONGECAT 2019</p>
            </div>
        </div>
    </div>
</footer>
