title     = "Home"
url       = "/"
layout    = "default"
is_hidden = 0

==
use Ayongecat\Review\Models\Review as ReviewModels;

function onStart() {
	$this->page->navbarCustom = true;
	$this['reviews'] 		  = ReviewModels::orderBy('created_at', 'desc')->get();
}
==
<div class="block block-hero-primary">
	<div class="container">
		<div class="row row-flex">
			<div class="col-md-6">
				<div class="hero-body">
					<h1>
						<b>AYO NGECAT</b>
					</h1>
					<p class="lead">Beraktivitas Sambil Beramal</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="hero-thumbnail">
					<img src="{{ 'assets/images/il-primary.png'|theme }}" alt="" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</div>

{% for i, k in settings.page.abouts %}
	{% if i%2 == 0 %}
		<div class="block block-explain explain-left">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-md-push-7">
						<div class="explain-image">
							<div class="bg-outter">
								<img src="{{ k.image }}" alt="" class="img-responsive">
							</div>
						</div>
					</div>

					<div class="col-md-7 col-md-pull-5">
						<div class="explain-content">
							<div class="row">
								<div class="col-md-11">
									<h2>{{ k.heading }}</h2>
									<p>
										{{ k.description }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="block block-explain explain-right">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="explain-image">
							<div class="bg-outter">
								<img src="{{ k.image }}" alt="" class="img-responsive">
							</div>
						</div>
					</div>

					<div class="col-md-7">
						<div class="explain-content">
							<div class="row">
								<div class="col-md-11 col-md-offset-1">
									<h2>{{ k.heading }}</h2>
									<p>
										{{ k.description }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endfor %}

{% if settings.appearance.banner %}
<div class="block block-banner-primary" style="background-image: url({{ settings.appearance.banner.getThumb('1200', '650') }})"></div>
{% endif %}

{% if reviews|length %}
<div class="block block-testimonial">
	<div class="container">
		<div class="text-center">
			<h1 class="heading-primary">
				ULASAN MEREKA
			</h1>
		</div>

		<div class="row">
			{% for review in reviews %}
			<div class="col-sm-4">
				<div class="post post-testimonial ">
					<div class="testimoni-head">
						<div class="head-image">
							<img src="{{ review.picture ? review.picture.getThumb('120', '120', 'crop') : '' }}" alt="" class="img-responsive">
						</div>
					</div>

					<div class="testimoni-body">
						<div class="body-description">
							<h4 class="name">{{ review.name }}</h4>
							<p class="role">{{ review.role }}</p>
						</div>
						<div class="body-content">
							<p>
								{{ review.content }}
							</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
