//
// Load all required stylesheets
//
@import '_all';


//
// Your app styles
//
body {
	padding-top: 101px;
}

.text-content {
	font-size: 18px;
	line-height: 25px;
}

.bg-gradient-linear(@color1, @color2) {
	background-image: -webkit-linear-gradient(left, @color1, @color2);
	background-image: -o-linear-gradient(left, @color1, @color2);
	background-image: linear-gradient(to right, @color1, @color2);
}

.block-sideby {
	.mg-t-40();

	&:last-child {
		.mg-b-40();
	}

	p {
		.text-content();
	}
}

.bg-outter {
	.pd-20();
	.bg-gradient-linear(@brand-pink, @brand-gold);

	&.to-left {
		img {
			@media(min-width: @screen-tablet) {
				left: -100px;
			}
		}
	}

	&.to-right {
		img {
			@media(min-width: @screen-tablet) {
				right: -100px;
			}
		}
	}

	img {
		position: relative;
		border-radius: 10px;
	}
}

.navbar-primary {
	border-radius: 0px !important;

	a {
		text-transform: uppercase;
	}
}

footer {
	background: #fafafa;
	.pd-t-40();
	.pd-b-40();
}

.footer-menu {
	a {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	.nav {
	  margin-bottom: 0;
	  padding-left: 0; // Override default ul/ol
	  list-style: none;
	  &:extend(.clearfix all);

	  > li {
	    position: relative;
	    display: block;

	    > a {
	      position: relative;
	      display: block;
	      padding: 5px;
	      padding-left: 0px;
	      text-transform: uppercase;
	      color: @gray-base;
	      &:hover,
	      &:focus {
	        text-decoration: none;
	        background-color: transparent;
	      }
	    }

	    // Disabled state sets text to gray and nukes hover/tab effects
	    &.disabled > a {
	      color: @nav-disabled-link-color;

	      &:hover,
	      &:focus {
	        color: @nav-disabled-link-hover-color;
	        text-decoration: none;
	        background-color: transparent;
	        cursor: @cursor-disabled;
	      }
	    }
	  }

	  //
	  // This should have been removed in v3 with the dropping of `.nav-list`, but
	  // we missed it. We don't currently support this anywhere, but in the interest
	  // of maintaining backward compatibility in case you use it, it's deprecated.
	  .nav-divider {
	    .nav-divider();
	  }

	  // Prevent IE8 from misplacing imgs
	  //
	  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
	  > li > a > img {
	    max-width: none;
	  }
	}
}



