//
// Load all required stylesheets
//
@import '_all';

//
// Your app styles
//
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	font-weight: bold;
}

header {
	.transition(.75s all ease);
}

.heading-primary {
	position: relative;
	font-weight: bold;
	.mg-0();

	&:after {
		content: '';
		position: absolute;
		width: 70px; height: 3px;
		left: 50%; bottom: -10px;
		margin-left: -35px;
		background: @brand-pink;
	}
}

.bg-gradient-linear(@color1, @color2) {
	background-image: -webkit-linear-gradient(left, @color1, @color2);
	background-image: -o-linear-gradient(left, @color1, @color2);
	background-image: linear-gradient(to right, @color1, @color2);
}

.bg-outter {
	.pd-20();
	.bg-gradient-linear(@brand-gold, @brand-pink);
	border-radius: 10px;

	.outter-image {
		position: relative;
		border-radius: 10px;
		height: 400px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
}

footer {
	background: url('../../assets/images/pattern-footer.png') no-repeat bottom left;
	background-color: #fafafa;
	background-size: 30%;
	border-top: 1px solid #e9e9e9;
	.pd-t-40();
	.pd-b-40();

	@media(min-width: @screen-tablet) {
		padding-bottom: 150px !important;
	}
}

.footer-logo {
	img {
		height: 70px;
	}
}

.footer-menu {
	a {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	.nav {
	  margin-bottom: 0;
	  padding-left: 0; // Override default ul/ol
	  list-style: none;
	  &:extend(.clearfix all);

	  > li {
	    position: relative;
	    display: block;

	    > a {
	      position: relative;
	      display: block;
	      padding: 5px;
	      padding-left: 0px;
	      text-transform: uppercase;
	      color: @gray-base;
	      &:hover,
	      &:focus {
	        text-decoration: none;
	        background-color: transparent;
	      }
	    }

	    // Disabled state sets text to gray and nukes hover/tab effects
	    &.disabled > a {
	      color: @nav-disabled-link-color;

	      &:hover,
	      &:focus {
	        color: @nav-disabled-link-hover-color;
	        text-decoration: none;
	        background-color: transparent;
	        cursor: @cursor-disabled;
	      }
	    }
	  }

	  //
	  // This should have been removed in v3 with the dropping of `.nav-list`, but
	  // we missed it. We don't currently support this anywhere, but in the interest
	  // of maintaining backward compatibility in case you use it, it's deprecated.
	  .nav-divider {
	    .nav-divider();
	  }

	  // Prevent IE8 from misplacing imgs
	  //
	  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
	  > li > a > img {
	    max-width: none;
	  }
	}
}
